@inherits LayoutComponentBase

<PageTitle>AutoAnimate.Blazor</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://github.com/canhorn/AutoAnimate.Blazor.Wasm" target="_blank">GitHub Source</a>
            <a href="https://auto-animate.formkit.com/" target="_blank">AutoAnimate</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
